{% extends "base.html" %}
{% load static %}
{% block content %}
  <style>
    
main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


main h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 4px;
}

main p {
  font-size: 16px;
  color: #6B7280; /* gray */
  margin-bottom: 16px;
}

/* ====== FORM ====== */
.form {
  display: grid;
  row-gap: 40px;
  gap:45px;
  counter-reset: step;
}

/* ====== SECTION HEADING ====== */
.heading {
  padding: 12px 16px;
  margin-bottom: 16px;
  background: #F4F7FF;
  border-radius: 8px;
  border-left: 5px solid var(--blue);
  text-align: center;
  box-shadow: inset -8px -3px 5px rgb(128, 128, 128);
  counter-increment: step;
}

.heading h2 {
  position: relative;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.heading h2::before {
  content: "Step " counter(step) " - ";
  color: var(--blue);
  font-weight: 700;
}

/* ====== FORM SECTIONS ====== */

.form section {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--blue);
  background-color: #ffffff;
  box-shadow: 10px 10px 2px #2a4affcf;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section:focus-within {
  border-color: var(--blue);
  box-shadow: 0 0 0 3px rgba(42, 75, 255, 0.3);
}

.form section:hover {
  transform: translateY(-2px);
  box-shadow: 15px 15px 10px #2a4affb7;
}



/* ====== CARD GRID ====== */
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 20px;
  padding: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.card label {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

/* ====== INPUTS ====== */
.card input,
.card select,
.card textarea {
  height: 44px;
  padding: 10px 14px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
}

.card input:focus,
.card select:focus,
.card textarea:focus {
  border-color: var(--blue);
  box-shadow: 0 0 0 3px rgba(42, 75, 255, 0.2);
  outline: none;
}

.full-width{
      grid-column:1/-1;
    }
.radio-group{
      display:flex;
      gap:20px;
    }
.radio-group input[type="radio"] {
  width: 18px;   /* Set your preferred fixed width */
  height: 18px;  /* Set your preferred fixed height */
  flex-shrink: 0; /* Prevents the browser from resizing it */
  cursor: pointer;
}
.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.form button{
      border-radius: 20px;
      padding: 10px 14px;
      font-size: 17px;
      font-weight: 600;
      min-width: 80px;
      transition: all 0.3s ease;
      max-width: 150px;
      border:3px solid var(--blue);
  }

  .form button:hover{
      background-color: var(--blue);
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      color: white;

  }
@media (max-width:550px) {
  .card 
  {
      margin: 5px;
      grid-template-columns: 1fr;
      Row-gap: 16px;
  }

.card label{
          min-width: 50px;     
      }
  .card input{
      min-width: 100px;
      margin-left: 15px;
  }
  .full-width{
      grid-column:1/-1;
    }
  .radio-group{
        display:flex;
        flex-direction: column;
        gap:20px;   
      }
  }

  </style>
<main>
  <h1>Edit Your Profile</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form">

      <!-- PERSONAL INFO -->
      <section>
        <div class="heading"><h2>Personal Info</h2></div>
        <div class="card">

          <label>Full Name</label>
          <input type="text" name="full_name"
                 value="{{ request.user.username }}" readonly>

          <label>Email</label>
          <input type="email" name="email"
                 value="{{ request.user.email }}" readonly>
           <label>Country Code</label>
          <select name="country_code" value="{{profile.country_code}}"  required>
            <option value="+91">🇮🇳 +91</option>
            <option value="+1">🇺🇸 +1</option>
            <option value="+44">🇬🇧 +44</option>
          </select>
          <label>Mobile</label>
          <input type="text" value="{{profile.mobile}}" name="mobile" required>

         

        </div>
      </section>

      <!-- LOCATION -->
      <section>
        <div class="heading"><h2>Location</h2></div>
        <div class="card">

          <label>Country</label>
          <input type="text" name="country" value="{{profile.country}}" required>

          <label>State</label>
          <input type="text" name="state" value="{{profile.state}}" required>

          <label>City</label>
          <input type="text" name="city" value="{{profile.city}}" required>

          <label>Locality</label>
          <input type="text" name="locality" value="{{profile.locality}}" required>

        </div>
      </section>

      <!-- JOB -->
      <section>
        <div class="heading"><h2>Job Details</h2></div>
        <div class="card">

          <label>Preferred Job</label>
          <input type="text" name="preferred_job" value="{{profile.preferred_job}}" required>

          <label>Experience</label>
          <select name="experience" required>
            <option value="">Select</option>
            <option value="Fresher" {% if profile.experience == "Fresher" %}selected{% endif %}>Fresher</option>
            <option value="0-1 Years" {% if profile.experience == "0-1 Years" %}selected{% endif %} >0–1 Years</option>
            <option value="1-3 Years" {% if profile.experience == "1-3 Years" %}selected{% endif %} >1–3 Years</option>
            <option value="3+ Years" {% if profile.experience == "3+ Years" %}selected{% endif %} >3+ Years</option>
          </select>

        </div>
      </section>

      <!-- EDUCATION -->
      <section>
        <div class="heading"><h2>Education</h2></div>
        <div class="card">

          <label>Qualification</label>
          <select name="qualification" value="{{profile.qualification}}" required>
            <option value="">Select</option>
            <option>SSLC</option>
            <option>HSC</option>
            <option>Diploma</option>
            <option>UG</option>
            <option>PG</option>
            <option>ITI</option>
          </select>

          <label>Degree</label>
          <input type="text" name="degree" value="{{profile.degree}}" required>

          <label>College</label>
          <input type="text" name="college" value="{{profile.college}}" required>

          <label>Year of Passing</label>
          <input type="number" name="year_of_passing"
                 min="1980" max="2035" value="{{profile.year_of_passing}}" required>

        </div>
      </section>

      <!-- FILE UPLOAD -->
      <section>
        <div class="heading"><h2>Resume & Photo</h2></div>
        <div class="card">

          <label>Upload Resume (PDF)</label>
          <input type="file" name="resume" accept=".pdf">

          <label>Upload Profile Photo</label>
          <input type="file" name="photo" accept="image/*" >

        </div>
      </section>

      <!-- RELOCATION -->
      <section>
        <div class="heading"><h2>Relocation</h2></div>
        <div class="card">

          <label class="full-width">Willing to Relocate?</label>
          <div class="radio-group full-width">
            <label>
              <input type="radio" name="relocate" value="True"  {% if profile.relocate == "True" %}checked{% endif %}> Yes
            </label>
            <label>
              <input type="radio" name="relocate" value="False" {% if profile.relocate == "False" %}checked{% endif %}> No
            </label>
          </div>

        </div>
      </section>

      <button type="submit">Save</button>

    </div>
  </form>
</main>

{% endblock %}